{% extends('@Easy/cms/layout.html.twig') %}

{#{% page_configuration {#}
{#    'title': 'title'|trans([], trans_prefix),#}
{#    'header': 'title'|trans([], trans_prefix),#}
{#    'breadcrumbs': {#}
{#    ('title'|trans([], trans_prefix)): false,#}
{#}#}
{#    } %}#}

{% block content %}
    <div class="container-fluid">
        <div class="wrapper wrapper-content animated fadeInRight faster">
            EMPTY DASHBOARD
        </div>
    </div>
{% endblock %}
