{% extends('@Easy/cms/base.html.twig') %}

{% block body %}
    <div id="wrapper">

        {# Sidebar #}
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
{#                    {{ include('@WSCore/cms/general/nav_profile.html.twig', with_context = false) }}#}
{#                    {{ include('@WSCore/cms/general/sidebar.html.twig', with_context = false) }}#}
                </ul>
            </div>
        </nav>

        {# Content #}
        <div id="page-wrapper" class="gray-bg">
            {# Header #}
            {% block header %}
                {{ include('@Easy/cms/header.html.twig') }}
            {% endblock %}

            {# Main Content#}
            {% block content %}{% endblock %}

            {# Footer #}
            <div class="row">
                <div class="footer">
                    Powered by <a href="https://www.simonberton.com" target="_blank"><strong>Simon</strong></a> from <a href="https://www.simonberton.com">Simon</a>.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
