{% for key, items in sidebar %}
    <div class="sidebar-heading">
        {{ key|upper }}
    </div>
    {% for menuElm in items%}
        <li class="nav-item">
            <a class="nav-link" href="{{ menuElm.route }}" aria-expanded="true">
                <i class="fas {{ menuElm.icon }}"></i>
                <span>{{ menuElm.name }}</span>
            </a>
        </li>
    {% endfor %}
    <hr class="sidebar-divider">
{% endfor %}
