{% extends('@Easy/cms/layout.html.twig') %}

{#{% page_configuration {#}
{#    'title': 'title'|trans([], trans_prefix),#}
{#    'header': 'title'|trans([], trans_prefix),#}
{#    'breadcrumbs': {#}
{#    ('title'|trans([], trans_prefix)): false,#}
{#}#}
{#    } %}#}

{% block content %}
    <div class="container-fluid">
        <div class="wrapper wrapper-content animated fadeInRight faster">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'crud.create'|trans({}, 'easy_cms') }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ include('@Easy/cms/crud/form.html.twig', {form: form}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
